<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-lewagon navbar-collapse">
      <%= link_to new_restaurant_path do %>
      <p><i class="fas fa-plus-circle"></i></i> Add a restaurant </p>
      <% end %>
      <%= link_to restaurants_path do %>
      <p><i class="fas fa-backspace"></i> Back to List </p>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
